# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.metadata
pubspec.lock

# IDE
.idea/
.vscode/
*.swp

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
android/local.properties
android/.gradle/
android/app/src/main/java/
ios/.symlinks/
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
